body{
    
    background-color: #192536;
    
    background-position-y: -100px;
}
.container{
    
    margin: 0 auto;
    
}
#header{
    background-color: #21324a;
    height: 40px;
    
}
nav{
    display: flex; /* cho các phần tử thẻ nav chung 1 hàng */
    justify-content: space-between;
    justify-items: center;
}
img{
    height: 20px;
    margin-top: 9px;
    margin-left: 15px;
}
#logo-img{
    width: 40px;
    height: auto;
    margin-left: 15px;
    
}
#input a{
    display: inline-block;
    padding: 0px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 15px;
}
/* #input a:hover{
    background-color: #1fb686;
}*/

#main-menu{
    display: flex;/* cho các phần tử thẻ nav chung 1 hàng */
    list-style: none;/* bỏ dấu chấm */
    margin: 0px;
    padding: 0px;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    display: block; /*tác động căn chỉnh padding*/
    padding: 10px 25px;
    text-decoration: none;
    color: beige;
}

#search button:hover{
    background: #d3998a;
}
#main-menu ul.sub-menu{
    position: absolute;
    list-style: none;
    background-color: #21324a;
 
}
#main-menu ul.sub-menu {
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    color: aliceblue;
    width: 110px;
    justify-items: center;
    display:none;
}
#main-menu li:hover> ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #585351;
    left: 0px;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #a09d9c;
    
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 112px;
    top: 10px;
}
.form-search{
    display: flex;
    width: 45px;
    border-top: none;
    border-radius: 4px;
}
