.body{
    background-color: #f6f6f6;
    display: flex;
}
/* tab-menu*/

.tab-menu{
    width: 240px;
    height: 100%;
    background-color: #f3f3f3;
    
}
.logo{
    margin-left: 0.5cm;
}
.text-logo{
    color: rgb(45, 85, 85);
    display: block;
    margin-top: -0.8cm;
    margin-left: 1.7cm;
    text-decoration: none;
}
.add-music{
    background-color: rgb(199, 18, 18);
    text-align:center;
    border-radius: 4px;
    width: 150px;
    height: 40px;
    margin-left: 0.5cm;
}
.ib{
    text-decoration: none;
    display: block;
    padding: 12px 0;
    color: aliceblue;
}
.menu-1 ul{
    list-style: none;
    border-bottom: 2px;
    border-color: black;
}
.menu-2 ul{
    list-style: none;
}
.menu-3 ul{
    list-style: none;
}
.menu-1 ul li{
    display: block;
    padding: 5px 0px;
}
.menu-2 ul li{
    display: block;
    padding: 5px 0px;
}
.menu-3 ul li{
    display: block;
    padding: 5px 0px;
    background-color: var(--bg-content-color);
}
.menu-1 ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
.menu-2 ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
.menu-3 ul li a{
    display: block;
    text-decoration: none;
    color: black;
}
.text-box{
    display: block;
    font-size: 15px;
    margin-left: 25px;
}
.menu-1 ul li a:hover{
    background-color: rgb(197, 183, 183);
}
.menu-2 ul li a:hover{
    background-color: rgb(197, 183, 183);
}
.menu-3 ul li a:hover{
    background-color: rgb(197, 183, 183);
}

/* tab home */
.or-search{
    height: 35px;
    width: 500px;
    display: block;
    border:none;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 1cm;
}
#box{
    margin-left: 5cm;
    margin-top: 0.4cm;
    display: block;
}
#id-box{
    margin-top: 0.4cm;
    display: block;
}
.input{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    /*background-color: rgb(177, 197, 191);*/
    border-radius: 5px;
}
.login{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 20px;
    background-color: rgb(177, 197, 191);
    border-radius: 5px;

}

header{
    display: flex;
    height: 70px;
    width: 1500px;
    background-color: aliceblue;
    margin-left: 3cm;
}
nav{
    height: 372px;
    max-width: 1150px;
    margin-left: 3cm;
    border-radius: 5px;
}
.dot-id{
    width: 920px;
}
.dot {
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: rgb(36, 30, 30);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.img-music{
    display: flex;
    margin-left: 3cm;
}
.top-top{
    display: flex; 
}
.input1 {
    margin-left: 19.3cm;
    margin-top: 0.8cm; 
    text-decoration: none;
    padding: 5px 20px;
    display: block;
    text-align: center;
    border-radius: 10px;
    color:black ;
}
h1 a{
    margin-left: 3cm;
    display: block;
    text-decoration: none;
    color: black;
    
}
.card{
    width: 246px;
}
.container a{
    text-decoration: none;
    margin-left: 1.4cm;
    display: block;
    margin-top: -0.5cm;
    color: black;
    font-size: 13px;
}


