body{
    background-image: url("img/musical-background-2886886_960_720.jpg") ;
    background-size: cover;
    background-position-y: -100px;

}
.container{
    margin: 0 auto;
}
#header{
    height: 40px;
    box-shadow: 0px 0px 16px 7px;
    border-radius: 8px;
}
nav{
    display: flex; /* cho các phần tử thẻ nav chung 1 hàng */
    justify-content: space-between;
    justify-items: center;
}

#logo-img{
    width: 40px;
    height: auto;
    margin-left: 15px;
    
}
#input a{
    display: inline-block;
    padding: 0px 15px;
    margin-top: 10px;
    text-decoration: none;
    color: aliceblue;
    margin-right: 15px;
}
/* #input a:hover{
    background-color: #1fb686;
}*/

#main-menu{
    display: flex;/* cho các phần tử thẻ nav chung 1 hàng */
    list-style: none;/* bỏ dấu chấm */
    margin: 0px;
    padding: 0px;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    display: block; /*tác động căn chỉnh padding*/
    padding: 10px 25px;
    text-decoration: none;
    color: beige;
}

#search button:hover{
    background: #d3998a;
}
#main-menu ul.sub-menu{
    position: absolute;
    list-style: none;
    background-color: #21324a;
 
}
#main-menu ul.sub-menu {
    display: block;
    padding: 15px 0px;
    text-decoration: none;
    color: aliceblue;
    width: 110px;
    justify-items: center;
    display:none;
}
#main-menu li:hover> ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #585351;
    left: 0px;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu li:hover>a{
    border-bottom: 1px solid #a09d9c;
    
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 112px;
    top: 10px;
}
.form-search{
    display: flex;
    width: 45px;
    border-top: none;
    border-radius: 4px;
}
.mainScreen{
    width: 70%;
    height: 25%;
    overflow: hidden;
    border: white;
    float: left ;
    margin-left: 5%;
    text-align: center;
    position: absolute;
    background: navajowhite;

}
.song-detail{
    width: 70%;
    height: 100px;
    background: gray;
    margin-left: 5%;

}
.cover-Image{
    width: 200px;
    height: 200px;
    text-align: center;
    float: left;
}
.tools{
    float: right;
    background: honeydew;
    width: 70%;
    text-align: center;
    height: 100px;
    margin-top: 100px;
}
.slick-track{
    position: absolute;
    width: 850px;
    height: 350px;
    box-shadow: 0px 0px 16px 7px;
    top:10%;
    left: 10%;
    border: 1px solid black;

}

.box-title{
    overflow: hidden;
}
.box-title h2 a{
    top: 60%;
    position: absolute;
    left: 10%;
}

.albums {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 68%;
    left: 10%;
    width: 850px;
    height: 220px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.album{
    position: relative;
    text-align: center;
    margin: 1em;
    float: left;
    top:0;
    display: inline;

}